#footer .contact {
  @include height(0.081);
  @include font-size(1.4);
  clear: both;
  text-align: center;
  background-image: url("../../image/bg.png");
  background-size: 47% auto;
  background-position: 50% 370%;
  color: #777777;
  .contactMessage {
    display: inline-block;
    padding-top: 3.3em;
  }
  .contactBtn {
    @include line-height(4);
    margin-top: 1.2em;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #777777;
    border-radius: 20px;
    width: 50%;
    background-color: white;
  }
}