@import "common/_mixin";

#footer {
  clear: both;
}

#footer .search {
  .byArticle, .byCategory, .byTag, .byCommunity {
    @include clearfix
  }
}

#footer .search .byArticle {
  @include bgc-dark(0.07);
  .title {
    @include h1;
    margin: 0;
    padding-top: 1.7em;
    padding-bottom: 0.9em;
    color: white;
  }
  .form {
    @include height(0.02);
    background-color: #777777;
    border: 1px solid white;
    border-radius: 22px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
  }
  .fa-search, input {
    float: left;
  }
  .fa-search {
    @include font-size(2.8);
    margin-top: 0.23em;
    margin-left:0.4em;
    color: #CDCDCD;
  }
  input {
    @include height(0.02);
    box-sizing: border-box;
    margin-left: 0.4em;
    border: none;
    background-color: #777777;
    color: white;
    width: 80%;
  }
}

#footer .search .byCategory {
  @include bgc-bright(0.12);
  .title {
    @include h2;
    padding: 1.4em;
    color: $search-title;
  }
  .programing {
    @include category-btn($prog-color, $prog-brightColor);
  }
  .design {
    @include category-btn($design-color, $design-brightColor);
  }
  .thinking {
    @include category-btn($thinking-color, $thinking-brightColor);
  }
}

#footer .search .byTag {
  @include bgc-dark(0.075);
  clear: both;
  .title {
    @include h2;
    padding: 1.4em;
    color: $search-title;
  }
  .tags {
    text-align: center;
    .tag {
      @include a-color;
      @include font-size(1.6);
      @include line-height(2.8);
      padding: 0 0.7em;
    }
  }
}

#footer .search .byCommunity {
  @include bgc-bright(0.145);
  //box-sizing: border-box;
  .title {
    @include h2;
    padding: 1.4em;
    color: $search-title;
  }
  .community {
    @include height(0.045);
    text-align: center;
    background-color: white;
    width: 47%;
  }
  .left {
    @include block-left;
    margin-top: 0;
    margin-bottom: 0.4em;
    margin-right: 0;
    margin-left: 2.3%;
  }
  .right {
    @include block-right;
    margin-top: 0;
    margin-bottom: 0.4em;
    margin-right: 2.3%;
    margin-left: 0;
  }
  .community {
    .community-picture {
      margin-top: 0.7em;
      margin-bottom: 0.7em;
    }
    p {
      @include font-size(1.4);
      color: $date-color;
    }
  }

}