@import "common/_mixin";

#footer {
  clear: both;
}

#footer .search {
  .byArticle, .byCategory, .byTag, .byCommunity {
    @include clearfix
  }
  h1, h2 {
    text-align: center;
  }
  h1 {
    @include h1
  }
  h2 {
    @include h2
  }
}

#footer .search .byArticle {
  @include bgc-dark(0.07);
  .title {
    color: white;
  }
  .fa-search {
    margin-left: 1em;
    color: #CDCDCD;
  }
  .form {
    @include height(0.02);
    background-color: #777777;
    border: 1px solid white;
    border-radius: 22px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  input {
    background-color: #777777;
    width: 80%;
    margin-left: 0;
  }
}

#footer .search .byCategory {
  @include bgc-bright(0.12);
  .title {
    color: #CCCCCC;
  }
  .btn-left, .btn-right {
    float: left;
  }
  .btn-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 70%;
    color: white;
      i, p {
        display: inline-block;
      }
  }
  .btn-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 12%;
    margin-left: 0;
  }
  .programing {
    @include height(0.02);
    .btn-left {
      background: $prog-color;
      height: 100%;
    }
    .btn-right {
      background-color: #CEF3F7;
      color: $prog-color;
      height: 100%;
    }
  }
  .design {
    @include height(0.02);
    .btn-left {
      background: $design-color;
      height: 100%;
    }
    .btn-right {
      background-color: #FCEEF0;
      color: $design-color;
      height: 100%;
    }
  }
  .thinking {
    @include height(0.02);
    .btn-left {
      background: $thinking-color;
      height: 100%;
    }
    .btn-right {
      background-color: #F1F0FF;
      color: $thinking-color;
      height: 100%;
    }
  }
}

#footer .search .byTag {
  @include bgc-dark(0.075);
  clear: both;
  .title {
    color: #CCCCCC;
  }
  .line {
    text-align: center;
  }
  .tag {
    @include a-color;
  }
}

#footer .search .byCommunity {
  @include bgc-bright(0.145);
  .title {
    color: #CCCCCC;
  }
  .community {
    @include height(0.045);
    text-align: center;
    //margin-left: auto;
    //margin-right: auto;
    background-color: white;
    width: 47%;
    p {
      color: $date-color;
    }
  }
  .left {
    @include block-left;
    margin: 2% 0 1% 2%;
  }
  .right {
    @include block-right;
    //margin-right: 2%;
    margin: 2% 2% 1% 0;
  }
}