@import "../lib/_mixin";
@import "../lib/_value";

// about start
  .about {
    padding: 2.5em 0 3.5em;
    text-align: center;
    background: url("./../../image/about_bg.png");
    background-size: cover;
    .logo {
      padding: 2em 0;
    }
  }
  .about__ttl {
    img {
      max-width: 300px;
      height: auto;
    }
  }
  .about__description {
    color: $clr-black;
    line-height: 1.8em;
    padding: 1em 0;
  }
// about end

// article start
  .articles {
  }
  .articles__ttl {
    @include heading;
  }
  .articles__article {
    margin-top: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid $clr-gray2;
    display: flex;
    flex-direction:row;
  }
    // article themb
      .article__thumb {
        width:120px;
        height: auto;
        @include bg_stripe;
      }
      .article__thumb-img {
        width:120px;
        height: 100px;
        background: url("http://placekitten.com/150/200");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .article__category {
        height: 40px;
        i {
          margin-top: 15px;
          margin-left: 10px;
          color: #fff;
          font-size: 10px;
        }
        span {
          color: #fff;
          font-size: 11px;
        }
      }
      .category--prog {
        background: $clr-prog;
      }
      .category--design {
        background: $clr-design;
      }
      .category--other {
        background: $clr-other;
      }

      .article__community {
        padding: .3em;
        display: block;
        a {
          font-size: $font-sm;
        }
      }

    // article detail
      .article__detail {
        margin-left: 10px;
        width: calc(50% + 10vw);
      }
      .article__ttl {
        font-weight: bold;
        color: $clr-black;
      }
      .article__text {
        margin-top: 1em;
        font-size: $font-sm;
      }
      .article__date {
        margin-top: 1.2em;
        display: block;
        font-size: $font-sm;
      }
      .article__writer {
        margin-top: .3em;
        padding-top: 10px;
        text-align: left;
        height:30px;
        border-top: 2px dotted $clr-gray3;
        .writer-icon {
          display: inline-block;
          width:30px;
          height:30px;
          border-radius: 50%;
          background: url("http://placekitten.com/100/82");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .writer-name {
          vertical-align: top;
          line-height: 30px;
        }
      }
// article end

// events start
  .events {

  }
  .events__ttl {
    @include heading--bg;
    margin: 4em 0 0;
    padding: .8em $container;
  }
  .events__event {
    padding: 1.5em 0 2em;
    box-sizing: border-box;
    border-bottom: 1px solid $clr-gray2;
    }
  .event__prefectures {
    padding: .4em .8em;
    color: #fff;
    background: $clr-gray1;
  }
  .event__date {
    margin-left: 1em;
  }
  .event__time {
  }
  .event__ttl {
    display: block;
    margin-top: 1.2em;
    font-weight: bold;
  }
  .event__community {
    margin: 1em 0;
    display: block;
    font-size: $font-sm;
    color: $clr-main;
  }
  .event__seat {
    padding: .3em .5em;
  }
  .seat--vacancy {
    color: $clr-prog;
    border: 1px solid $clr-prog;
    border-radius: 5px;
  }
  .seat--full {
    color: $clr-gray1;
    border: 1px solid $clr-gray1;
    border-radius: 5px;
  }
  .seat--overflow {
    color: $clr-design;
    border: 1px solid $clr-design;
    border-radius: 5px;
  }
  .event__place {
    margin-top: 1.5em;
    margin-left: 1em;
    color: $clr-gray2;
  }
  .link__event-archives {
    margin-top: 1em;
    text-align: right;
    a {
      display: inline-block;
      @include link-style--triangle;
    }
    a:hover {
      @include link-style--triangle($clr-gray2);
    }

  }
// events end

// information start
  .information {
    margin-top: 3em;
  }
  .information__item {
    margin-bottom: 2px;
    list-style: none;
    box-sizing: border-box;
    border-left: 10px solid $clr-main;
    box-shadow: 0 0 2px #ccc;
    i {
      margin-right: 10px;
      font-size: 1.5em;
    }
    a {
      display: block;
      padding: 2em;
      background: #fff;
    }
  }
// information end