@import "lib/mixin";
@import "lib/_value";

@import "common/_newArticle";
@import "common/_footer";

*{
  @include font-style;

  h1, h2, p, i, li, div, img {
    margin: 0;
  }
}

html {
  font-size: calc(14px + 0.20vw);
  color: $clr-gray1;

  a {
    color: $clr-main;
    text-decoration: none;
  }
}

.container {
  padding: 0 1em;
}
// header start
  .header {
    padding:10px 10px 15px;
    background: url(./../../image/head_border.png);
    background-repeat: repeat-x;
    background-size: 250px;
    background-position: bottom;
    @include clearfix;
  }

  .header__logo {
    display: inline-block;
    float: left;
    width: 0;
    height: 0;
    margin: 0;
    img {
      max-width: 200px;
      height: auto;
    }
  }

  //search start
  .search {
    float: right;
  }
  .search__input {
    display: none;
  }

  .search__btn {
    display: none;
  }

  .search__btn--sp {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $clr-main;
    box-shadow: 0 1px 1px #ccc;
    a {
      display: inline-block;
    }
    i {
      margin-top: 5px;
      font-size: 2.2em;
      color: #fff;
    }
  }
  //search end
//header end


.contents-top {
  @import "contents/_top";
}

