@import "common/_mixin";


#blog .footer {
  .tags, .community, .push-sns {
    @include blog-width;
  }
  .tags {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    .tag {
      @include a-color;
    }
  }
  .community {
    p {
      @include community-tag;
    }
  }
  .writer-profile {
    @include height(0.069);
    border: 1px solid #CDCDCD;
    width: 90%;
    margin: 2em auto;
    text-align: center;
    .title {
      @include line-height(3.4);
      background-color: #ECEDEE;
      border-bottom: 1px solid #CDCDCD;
    }
    .icon {
      @include icon-custom(30);
      float: left;
      margin-top: 1.2em;
      margin-left: 1.1em;
    }
    .profile-info {
      float: left;
      text-align: left;
      margin-top: 1em;
      margin-left: 1.4em;
      .writer {
        @include font-size(1.5);
      }
      .skill {
        @include font-size(1);
        margin-top: 1em;
        color: $date-color;
      }
      .sns {
        @include clearfix;
        margin-top: 0.8em;
        .twitter {
          @include sns-cube($twcolor-dark, 1em);
        }
        .facebook {
          @include sns-cube($fbcolor-dark, 1em);
        }
      }
    }
  }
  .push-sns {
    @include clearfix;
    margin-bottom: 4em;
    .twitter, .facebook {
      margin-right: 3%;
    }
    .push-btn {
      @include height-onFont(3.8);
      float: left;
      width: 31%;
      color: white;
      img {
        @include reduction-onHeight(1.6);
        float: left;
        margin-left: 15%;
        margin-top: 0.6em;
      }
      p {
        @include line-height(3.8);
        @include font-size(1.2);
        float: right;
        margin-right: 20%;
        margin-top: 0.1em;
        display: inline-block;
      }
    }
    .twitter {
      @include shadow-box($twcolor-dark, white, $twcolor-shadow);
    }
    .facebook {
      @include shadow-box($fbcolor-dark, white, $fbcolor-shadow);
    }
    .hatebu {
      @include shadow-box($hbcolor-dark, white, $hbcolor-shadow);
    }
  }
}