@import "../common/_mixin";

#blog .header {
  .title, .info, .sns {
    @include blog-width;
  }
  .blog-h1 {
    @include blog-h1;
  }
  .info {
    @include clearfix;
    @include height-onFont(5);
    .date, .icon {
      float: left;
    }
    .date {
      width: 73%;
      color: $date-color;
    }
    .icon {
      @include icon;
    }
    .writer {
      @include font-size(1.3);
    }
  }
  .sns {
    @include clearfix;
    .twitter, .facebook, .hatebu {
      @include height-onFont(1.6);
      padding: 0;
      float: left;
      margin-right: 0.5em;
    }
    .twitter-icon, .facebook-icon, .hatebu-icon {
      @include reduction-onHeight(0.8);
    }
    .snsbtn-left, .snsbtn-right {
      float: left;
      height: 100%;
      p {
        @include font-size(0.4);
      }
    }
    .snsbtn-left {
      p {
        display: inline-block;
      }
    }
  }
}

#blog .header .sns {
  color: white;
  .twitter .snsbtn-right {
    background-color: $twcolor-bright;
  }
  .facebook .snsbtn-right {
    background-color: $fbcolor-bright;
  }
  .hatebu .snsbtn-right {
    background-color: $hbcolor-bright;
  }
  .twitter .snsbtn-left {
    background-color: $twcolor-dark;
  }
  .facebook .snsbtn-left {
    background-color: $fbcolor-dark;
  }
  .hatebu .snsbtn-left {
    background-color: $hbcolor-dark;
  }
}