@import "../common/_mixin";

#blog .header {
  .title, .info, .sns {
    @include blog-width;
  }
  .blog-h1 {
    @include blog-h1;
  }
  .info {
    @include clearfix;
    @include height-onFont(5.5);
    .date {
      @include line-height(3);
      float: left;
      color: $date-color;
    }
    .writer-info {
      float: right;
      .icon, .writer {
        float: left;
      }
      .icon {
        @include icon;
      }
      .writer {
        @include line-height(3);
        @include font-size(1.3);
      }
    }
  }
  .sns .snscount{
    @include clearfix;
    @include snscount;
  }
}

#blog .header .sns {
  clear: both;
  color: white;
  .twitter .snscount-right {
    background-color: $twcolor-bright;
  }
  .facebook .snscount-right {
    background-color: $fbcolor-bright;
  }
  .hatebu .snscount-right {
    background-color: $hbcolor-bright;
  }
  .twitter .snscount-left {
    background-color: $twcolor-dark;
  }
  .facebook .snscount-left {
    background-color: $fbcolor-dark;
  }
  .hatebu .snscount-left {
    background-color: $hbcolor-dark;
  }
}