@import "common/_mixin";


#blog .footer {
  .tags {
    .tag {
      @include a-color;
    }
  }
  .community {
    p {
      border-radius: 3px;
      display: inline-block;
      color: white;
      background-color: $link-color;
    }
  }
  .writer-profile {
    //@include clearfix;
    @include height(0.065);
    border: 1px solid #CDCDCD;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .title {
      background-color: #ECEDEE;
      border-bottom: 1px solid #CDCDCD;
    }
    .icon {
      float: left;
      @include icon-custom(30)
    }
    .sns {
      @include clearfix;
      .twitter {
        @include sns-cube($twcolor-dark);
      }
      .facebook {
        @include sns-cube($fbcolor-dark);
      }
    }
  }
  .push-sns {
    @include clearfix;
    .twitter, .facebook, .hatebu {
      @include height(0.019);
      float: left;
      width: 31%;
      color: white;
      p {
        @include font-size(0.9);
      }
    }
    .twitter, .facebook {
      margin-right: 3%;
    }
    .twitter-icon, .facebook-icon, .hatebu-icon {
      @include reduction-onHeight(0.009);
    }
    .twitter {
      @include shadow-box($twcolor-dark, white, $twcolor-shadow);
    }
    .facebook {
      @include shadow-box($fbcolor-dark, white, $fbcolor-shadow);
    }
    .hatebu {
      @include shadow-box($hbcolor-dark, white, $hbcolor-shadow);
    }
    p {
      display: inline-block;
    }
  }
}