@import "common/_mixin";
@import "lib/_value";

//about start
.about {
  text-align: center;
  background: url(./../../image/about_bg.png);
  background-size: cover;
  .logo {
    padding: 2em 0;
  }
}
.about__ttl {
  img {
    max-width: 300px;
    height: auto;
  }
}
.about__description {
  color: $clr-black;
  line-height: 1.8em;
  padding: 1em 0;
}
//about end