@import "common/_mixin";

#header {
  //@include height(0.03);
  @include clearfix;
  .title, i {
    display: inline-block;
  }
  .title {
    float: left;
    color: #777777;
    font-size: 1.1em;
  }
  .fa-bars {
    float: right;
    color: #CDCDCD;
  }
  .color-bar {
    width: 100%;
  }

}
