// 全体
@mixin height($value) {
  height: $value * 2000px;
}
@mixin width-onFont ($value) {
  width: $value * 10px;
}
@mixin height-onFont ($value) {
  height: $value * 10px;
}
@mixin reduction-onHeight($height) {
  @include height-onFont($height);
  width: auto;
}
@mixin blog-width  {
  box-sizing: border-box;
  width: 95% ;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
@mixin blog-padding($top-bottom) {
  padding: $top-bottom + em 0.4em;
}
@mixin paragraph-padding {
  padding: 0 0.4em 1.8em 0.4em;
}
// 初期設定
@mixin font-size($value) {
  font-size: $value * 10px;
}
@mixin line-height($value) {
  line-height: $value * 10px;
}
@mixin font-style {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","MS Pゴシック","MS P Gothic","Osaka",sans-serif;
}
// 配置
@mixin block-left {
  float: left;
  border: none;
}
@mixin block-right {
  float: right;
  border: none;
}
@mixin clearfix {
  &:after {
    clear: both;
    display: block;
    content: '';
  }
}
// 色
$link-color: #ECA443;
$hr-color: #ECEDEE;
$tableTitle-color: #FAF8F5;
$blockquote-color: #F5F6F7;
$endline-color: #F0EAE2;
$date-color: #777777;

$blog-h2: #EBE3DA;
$blog-h3: #E6DCD0;
$blog-h4: #E1D6C6;
$blog-list: #D7C8B3;

$prog-color: #4AB1BD;
$design-color: #DC8692;
$thinking-color: #9997CB;

$twcolor-dark: #5FADEE;
$twcolor-bright: #C6DDF1;
$twcolor-shadow: #4287C0;

$fbcolor-dark: #325A9A;
$fbcolor-bright: #BBCBE7;
$fbcolor-shadow: #204378;

$hbcolor-dark: #2184DE;
$hbcolor-bright: #A5B9CA;
$hbcolor-shadow: #1761A2;

@mixin bgc-tech {
  background-color: #ECA443;
}
@mixin bgc-newcomer {
  background-color: #6FB0A0;
}
@mixin bgc-blog {
  background-color: #5197C8;
}
@mixin bgc-community {
  background-color: #8A7B6E;
}
// タグ
@mixin thumbnail-title {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}
@mixin h1 {
  @include font-size(2);
  font-weight: normal;
}
@mixin h2 {
  @include font-size(1.6);
  font-weight: normal;
}
@mixin blog-p {
  @include blog-width;
  @include paragraph-padding;
  @include font-size(1.4);
  @include line-height(2.1);
}
@mixin blog-h1 {
  @include font-size(1.9);
  font-weight: normal;
  @include line-height(2.3);
}
@mixin blog-h2 {
  @include font-size(1.6);
  @include blog-width;
  @include blog-padding(0.9);
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  background-color: $blog-h2;
}
@mixin blog-h3 {
  @include font-size(1.5);
  @include blog-width;
  @include blog-padding(0.6);
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border-bottom: 3px solid $blog-h3;
}
@mixin blog-h4 {
  @include font-size(1.5);
  @include blog-width;
  @include blog-padding(0.6);
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border-left: 3px solid #E1D6C6;
}
@mixin list {
  @include blog-width;
  @include font-size(1.4);
  @include line-height(3);
  margin-bottom: 2em;
  list-style-type: square;
  color: $blog-list;
  span {
    color: black;
  }
}
@mixin a-color {
  color: $link-color;
}
@mixin hr {
  border: 1px solid $hr-color;
  width: 92%;
}
@mixin blockquote {
  background-color: $blockquote-color;
  box-sizing: border-box;
  border-radius: 4px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  .quotation {
    @include reduction-onHeight(1.4);
  }
  .left {
    margin-top: 0.5em;
    margin-left: 0.5em;
  }
  .right {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    float: right;
  }
  p {
    @include font-size(1.4);
    @include line-height(2.1);
    padding: 1em 1.5em;
    margin-left: auto;
    margin-right: auto;
  }
}
// その他部品
@mixin line {
  @include reduction-onHeight(1.5);
  display: block;
  margin: 0.8em auto;
}
@mixin community-tag {
  @include font-size(1.1);
  @include line-height(2.4);
  box-sizing: border-box;
  padding: 0.2em 1em;
  border-radius: 3px;
  display: inline-block;
  color: white;
  background-color: $link-color;
}
@mixin icon {
  border-radius: 15px;
  margin-right: 0.5em;
}
@mixin icon-custom($radius) {
  border-radius: $radius + px;
}
@mixin sns-cube($color) {
  float: left;
  color: $color;
  border: 1px solid $color;
  border-radius: 2px;
}
@mixin shadow-box($bgc-color, $color, $shadow-color) {
  color: $color;
  background-color: $bgc-color;
  border-radius: 2px;
  box-shadow: 0 2px $shadow-color;
}
@mixin stripe ($bright, $dark){
  height: auto;
  width: auto;
  background-image: linear-gradient(
                  -45deg,
                  $bright 25%,
                  $dark 25%, $dark 50%,
                  $bright 50%, $bright 75%,
                  $dark 75%, $dark
  );
  background-size: 4px 4px;
}
@mixin strong {
  @include stripe(#FFFEFC, #FDE5A2);
  display: inline-block;
  padding: 0.1em 0.2em;
  font-weight: normal;
}
@mixin bgc-bright($value) {
  @include height($value);
  width: auto;
  background-image: linear-gradient(
    -45deg,
    #6B6B6B 25%,
    #646464 25%, #646464 50%,
    #6B6B6B 50%, #6B6B6B 75%,
    #646464 75%, #646464
  );
  background-size: 4px 4px;
}
@mixin bgc-dark($value) {
  @include height($value);
  width: auto;
  background-image: linear-gradient(
    -45deg,
    #626262 25%,
    #5B5B5B 25%, #5B5B5B 50%,
    #626262 50%, #626262 75%,
    #5B5B5B 75%, #5B5B5B
  );
  background-size: 4px 4px;
}
@mixin table($value) {
  @include blog-width;
  padding-bottom: 2em;
  table {
    margin-left: auto;
    margin-right: auto;
  }
  table, td, th {
    border: 1px solid #CDCDCD;
    border-collapse: collapse;
  }
  thead {
    background-color: $tableTitle-color;
  }
  th, td {
    @include font-size(1.4);
    width: $value * 100%;
    padding: 0.7em 1em;
  }
}


@mixin block {
  border: 1px solid black;
}

