@import "common/_mixin";

#newArticle .header {
  text-align: center;
  h1 {
    @include h1
  }
}

#newArticle .article {
  @include clearfix;
  h1 {
    @include thumbnail-title
  }
  .picture {
    float: left;
    margin: 0.5em;
  }
  .icon {
    float: left;
    margin-right: 0.5em;
  }
}

#newArticle .article {
  &:nth-child(even) {
    border: 1px solid #CDCDCD;
  }
  .date {
    color: #777777;
  }
}