@import "common/_mixin";

#newArticle .header {
  @include height(0.04);
  text-align: center;
  h1 {
    @include h1
  }
}

#newArticle .article {
  @include height(0.052);
  @include clearfix;
  h1 {
    @include thumbnail-title
  }
  .picture {
    position: relative;
    float: left;
    margin: 0.5em;
  }
  .label {
    position: absolute;
    //left: 0.5em+1px;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-top: 17px solid $prog-color;
    border-left: 17px solid $prog-color;
  }
  .icon {
    float: left;
    @include icon;
  }
}

#newArticle .article {
  &:nth-child(even) {
    border: 1px solid #CDCDCD;
  }
  .date {
    color: #777777;
  }
}