@import "common/_mixin";

#top {
  @include clearfix;
  .description {
    text-align: center;
  }
  .contents {
    .tech, .blog {
      @include block-left;
      width: 50%;
    }
    .newcomer, .community {
      @include block-right;
      width: 50%;
    }
    p {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#top {
  .description {
    color: #584E47;
  }
  p {
    color: white;
  }
  .contents {
    .tech, .tech>p {
      @include bgc-tech
    }
    .newcomer, .newcomer>p {
      @include bgc-newcomer
    }
    .blog, .blog>p {
      @include bgc-blog
    }
    .community, .community>p{
      @include bgc-community;
    }
  }
}

