@import "../../lib/_mixin";
@import "../../lib/_value";

// blog-header start
  .blog-h1 {
    font-size: 1.5em;
    font-weight: normal;
  }
  .blog__date {
  }
  .blog__writer {
    @include article__writer;
    margin-bottom: 1.5em;

    text-align: right;
    .writer-icon {
      @include writer-icon;
    }
    .writer-name {
      @include writer-name;
    }
  }

  .blog__sns {
    margin-bottom: 2em;
    color: #fff;
    font-size: $font-sm;

    .sns__btn {
      margin-bottom: .5em;
      display: inline-block;
      @include clearfix;
    }
    .sns__title {
      float: left;
      display: inline-block;
      padding: 0 6px;
      line-height: 20px;
      height: 20px;
      border-radius: 2px 0 0 2px;

      img {
        margin: 0 .2em;
        height: 10px;
      }
      span {
        vertical-align:middle;
      }
    }
    .sns__count {
      display: inline-block;
      padding: 0 6px;
      height: 20px;
      line-height: 20px;
      border-radius: 0 2px 2px 0;
    }
    .sns__title--tw {
      background: $clr-tw-dark;
    }
    .sns__count--tw {
      background: $clr-tw-bright;
    }
    .sns__title--fb {
       background: $clr-fb-dark;
     }
    .sns__count--fb {
      background: $clr-fb-bright;
    }
    .sns__title--hb {
      background: $clr-hb-dark;
    }
    .sns__count--hb {
      background: $clr-hb-bright;
    }
  }
// blog-header end

// blog-content
  .blog__content {
    .blog__photo {
      img {
        width: 100%;
      }
    }
    .blog__p {
      margin-bottom: 2em;
      line-height: 1.5em;
    }
    .blog__h2 {
      margin-top: 4em;
      margin-bottom: 0.8em;
      padding: 1em;
      font-size: 1.2em;
      background-color: $clr-blog-h2;
    }
    .blog__h3 {
      margin-top: 4em;
      margin-bottom: 0.8em;
      padding: .5em 0;
      font-size: 1.1em;
      border-bottom: 3px solid $clr-blog-h3;
    }
    .blog__h4 {
      margin: 4em 0 1em;
      padding: .5em 1em;
      font-size: 1.1em;
      border-left: 8px solid $clr-blog-h3;
    }
    .blog__strong {
      font-style: normal;
      @include strong-bg;
      display: inline-block;
      padding: 0.1em 0.2em;
      font-weight: normal;
    }
    .blog__list {
      margin-bottom: 2em;
      list-style-type: square;
      .point {
        padding-left: 2em;
        position: relative;
        list-style: none;
        &:before {

          position: absolute;
          content:"";
          top: 10px;
          left: 5px;
          width: 10px;
          height: 10px;
          background: $clr-blog-li;

        }
      }

    }
    .blog__table {
      margin: 1em 0 2em;
      table {
        margin: 0 auto;
      }
      table, td, th {
        border: 1px solid $clr-gray2;
        border-collapse: collapse;
      }
      thead {
        background-color: $clr-blog-tableTitle;
      }
      th, td {
        padding: 0.7em 1em;
      }
    }
    .blog__hr {
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: auto;
      -webkit-margin-end: auto;
      border-style: outset;
      border-width: 0;
      height: 0;
      margin: 1em 0 2em;
      padding: 0 1em;
      border-top: 2px dotted $clr-gray3
    }
    .blog__quotation {
      margin: 1em;
      padding: .5em .8em;
      background-color: $clr-blc-quotation;
      border-radius: 6px;
      margin-bottom: 2em;
      &::before{
        content:" ";
        display:inline-block;
        padding: 1em 1em 0;
        width: 100%;
        height: 2em;
        background:url("./../../image/q-l.png");
        background-size: 2em;
        background-repeat: no-repeat;
        background-position: left;
      }
      &::after{
        content:" ";
        display:inline-block;
        width: 100%;
        height: 2em;
        background:url("./../../image/q-r.png");
        background-size: 2em;
        background-repeat: no-repeat;
        background-position: right;
      }
      p {
        padding: 0 1.5em;
      }
    }
    .blog-end__line {
      margin: 3em auto 1em;
      width: 100%;
      height: 23px;
      background: url("./../../image/line.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    // blog-footer start
    .blog__tags {
      text-align: left;
      margin: 3em 0 1em;
      .blog__tag {
        line-height: 2em;
        margin: 0 0.7em;
      }
    }
    .blog__community {
    }
    .blog__writer-profile {
      margin: 2em auto;
      border: 1px solid #CDCDCD;
      text-align: center;

      .writer-profile__ttl {
        @include heading--bg;
        margin: 0;
        padding: .5em;
      }
      .writer-profile_contents {
        padding: 1em;
      }
      .writer-icon {
        margin: 1.5em 0 .5em;
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 400px;
        background-image: url("http://placekitten.com/400/400");
        background-size: cover;
      }
      .writer-name {
        font-size: 1.2em;
      }
      .writer-skill {
        color: $clr-gray2;
      }
      .writer-sns__icon {
        margin: .7em 0 1.5em;
        display: inline-block;
        padding: .5em;
        width: 1.2em;
        height: 1.2em;
        border-radius: .3em;

      }
      .writer-sns--tw {
        border: 1px solid $clr-tw-dark;
        i{
          font-size: 1.3em;
          color: $clr-tw-dark;
        }
      }
      .writer-sns--fb {
        border: 1px solid $clr-fb-dark;
        i{
          font-size: 1.3em;
          color: $clr-fb-dark;
        }
      }
    }
    .share-sns {
      @include clearfix;
      margin-bottom: 4em;
      .twitter, .facebook {
        margin-right: 3%;
      }
      .share-sns__btn {
        display: inline-block;
        width:30%;
        text-align: center;
        color: white;
        img {
          margin: 1em .3em 1em;
          vertical-align: bottom;
          height: 15px;
        }
        span {

          display: inline-block;
          line-height: 45px;
        }
      }
      .twitter {
        @include shadow-box($clr-tw-dark, white, $clr-tw-shadow);
      }
      .facebook {
        @include shadow-box($clr-fb-dark, white, $clr-fb-shadow);
      }
      .hatebu {
        @include shadow-box($clr-hb-dark, white, $clr-hb-shadow);
      }
    }

  }
// blog-content end





.articles {
  @include article;
}